$headerImgHeight: 1%;
$headerImgHeightSmall: 55px;

$headerImgPadding: 5px;
$headerImgMarginLeft: -10px;

$headerLinksFontWeight: bold;
$headerLinksLineHeight: 15px;
$headerLinksMarginTop: 15px;

$headerLinksMediaQueryColor: #fff;
$headerLinksMediaQueryBorder: 1px;

$headerLinksMediaQueryMargin: 0px;
