$IDShieldColor: #dd8926;

$placeholderText: #000;
$kendoButtonPadding: 10px 14px;

$pagerMarginTop: 5%;
$pagerMarginBottom: 10%;

$darkBlueHeader: #003451;

//kroll colors
$warmGray: #5E5250;
$krollRed: #A22B38;
$krollLime: #A2AD00;
$krollBlue: #00A5E6;
$krollOrange: #E05206;
$krollYellow: #EEAF00;
$krollGray: #5E5250;
$krollGradient: linear-gradient(to bottom, #043f6c 0%, #2b5d82 100%);
