<div id="content" role="main">
        
        <div class="row">
            <div class="small-12 columns">
                    
                            </div>
        </div>

            <div class="renderedPage">
        
        <div class="row">
            <div class="small-12 columns">
                                
                                        </div>
        </div>

            <div class="row">
        <div class="large-8 columns service-title pad15lt">
                            <h1 id="service-name">Browser Compatibility</h1>
                    </div>
            </div>

            <div class="row">
            <div class="large-12 columns pad15lt">
                <div class="mar20top">
                                            <p>
	   This website is best viewed using the latest versions of Mozilla Firefox, Microsoft Internet Explorer, Google Chrome or Apple Safari.
</p>
<p>
	   Using an outdated browser can compromise the security of your computer and cause certain websites to look or behave incorrectly.
</p>
<p>
	   Use one of the following links to download the latest version of your preferred browser. The link will take you to the browser developer’s download page. From there, follow the download instructions.
</p>
<p>
	 <a href="http://www.mozilla.org/en-US/firefox/fx/#desktop" target="_blank">Firefox</a><br>
	 <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Internet Explorer</a><br>
	 <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Chrome</a><br>
	 <a href="http://www.apple.com/safari/" target="_blank">Safari</a>
</p>
                                    </div>
            </div>
        </div>
    
      


        

</footer>