<main id="contact-us">
  <h1 id="service-name">CONTACT US</h1>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
      <div class="margin-bottom row">
        <div class="col-xs-6">
          <strong>Phone Number</strong>
        </div>
        <div class="col-xs-6">
          1.888.494.8519
        </div>
      </div>

      <div class="margin-bottom row">
        <div class="col-xs-6">
          <strong>Mailing Address</strong>
        </div>
        <div class="col-xs-6">
            LegalShield<br>
            One Pre-Paid Way<br>
            Ada, OK 74820<br>
        </div>
      </div>

      <div class="margin-bottom row">
        <div class="col-xs-6">
          <strong>Email</strong>
        </div>
        <div class="col-xs-6">
          <a href="mailto:IDShield@legalshield.com">IDShield@legalshield.com</a>
        </div>
      </div>

      <div class="margin-bottom row">
        <div class="col-xs-6">
          <strong>URL</strong>
        </div>
        <div class="col-xs-6">
          <a href="http://www.legalshield.com" target="_blank">http://www.legalshield.com</a>
        </div>
      </div>

    </div>
  </div>

</main>
