<div class="view error-view">
  <div class="box row">
    <div class="col-sm-12">
      <h2 class="text-center">Oops!-One of two things happened:</h2>
      <hr />
      <div class="alert alert-warning">
        <p>The "Set Password" link we sent to you expired. (It's valid for only 24 hours.)</p>
        <p>or</p>
        <p>You've already used the link provided to set your password. The link is valid for only one use.</p>
      </div>
      <div>
        <p>If you need to set your password again, please use the "Forgot Password" button in the IDShield mobile app.</p>
      </div>
    </div>
  </div>
</div>
